body{
  font-family: sans-serif;
}
h1{
  font-weight: 550;
  font-size: 2.8em;
}
.nav-link{
  color:black;

}
.link{
  color:white;
}

.full-img{
  max-width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.font-5{
  font-size: 1.7em;
}
h1{
  text-align:center;
  padding:1%;
}
.shadow{
  padding: 10px;
  box-shadow: 5px 1px 20px  #CEC8C8;
}
.padding{
  padding-left:80px;
  padding-right:80px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-rounded {border-radius: 50px;}

.rounded1{
  border-radius: 20px;
}
.responsive-img {
  padding-left: 200px;
  padding-right: 200px;
}
@media screen and (min-device-width: 0px) and (max-device-width: 768px) {
  .responsive-img {
    padding-left: 0;
    padding-right: 0;
  }
  .full-img{
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .font-5{
    font-size: 1em;
  }
  h1{
    font-size: 2em;
  }
}
